@keyframes background {
	0% {background-color: #00BC9E;}
	25% {background-color: #00CC7B;}
	50%{background-color: #2A99D6;}
	75%{background-color: #F2C342;}
	100% {background-color: #9C2C26;}
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

@keyframes scale {
	from {transform: scale(1, 1);}
	to {transform: scale(1.5, 1.5);}
}