@import url(normalize.css);
@import url(animation.css);

body {
	margin:0;
	padding: 0;
	font: arial, tahoma, sans-serif 16px;
	background: #00BC9E;
    animation-name: background;
    animation-duration: 30s;
}

.container {
	width: 960px;
	height: 200px;
	margin: calc(50% / 2 - 100px) auto;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}
img {
	width: 150px;
	border: 10px solid rgba(255, 255, 255, .5);
	border-radius: 50%;
	box-shadow: 1px 1px 4px black;

}
img:hover {
	transform: rotate(360deg);
	transition: all 1s ease-in-out;
}
h1 {
	text-shadow: 1px 1px 4px black;
}
p {
	text-shadow: 1px 1px 1px black;
}
a {
	text-decoration: none;
	color: white;
	padding-bottom: 5px;
	margin: 10px;
	border-bottom: 1px solid transparent;

}
a:hover {
	color: black;
	border-bottom: 1px solid black;
	transition: .3s ease-in-out;

}