body {
	margin:0;
	padding: 0;
	font: arial, tahoma, sans-serif 16px;
	background: #00BC9E;
    animation-name: background;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

.container {
	width: 960px;
	margin: calc(50% / 2 - 100px) auto;
	text-align: center;
	padding: 0 10px;
	box-sizing: border-box;
}

img {
	width: 150px;
	border: 10px solid rgba(255, 255, 255, .5);
	border-radius: 50%;
	box-shadow: 1px 1px 4px black;
	animation: scale 2s cubic-bezier(.23,1.49,.82,-0.39);
	transition: all .3s;
}

img:hover {
	transform: rotate(360deg);
	transition: all 1s ease-in-out;
}

h1 {
	text-shadow: 1px 1px 4px black;
	color: white;
}

p {
	text-shadow: 1px 1px 1px black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
	padding-bottom: 5px;
	margin: 10px;
	border-bottom: 1px solid transparent;

}

a:hover {
	color: black;
	border-bottom: 1px solid black;
	transition: .3s ease-in-out;

}